@tailwind base;
@tailwind components;
@tailwind utilities;

.layout-wrapper{
  width: 90vw;
  min-width: 300px;
}
.icons{
  display: flex;
  padding-top: 70px;
}
.icons a{
  margin-right: 20px;
  display: inline;
}
.icons a svg:hover{
  color: #ffab00;
}
.name{
  font-size: 3em;
}
.main-div{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  z-index: 10;
  position: relative;
  text-shadow: 0 0 6px black;
}
.designed-line{
  background-color: #ffab00;
  width: 60px;
  height: 6px;
  display: block;
  /* margin: 20px 0px; */
  margin-top: 30px;
}
.intro span{
  padding-left: 10px;
}
.intro::before{
  content: '';
  display: inline-block;
  position: relative;
  height: 2px;
  width: 14px;
  background-color: #ffab00;
  top: -4px;
}
.image-wrapper{
  z-index: 1;
  filter: blur(1.4px);
  -webkit-filter: blur(1.4px);
}
.contact-form,
.contact-image{
  flex: 1;
}
.contact-image{
  opacity: 0;
}
.input-field{
  padding: 15px;
  width: 100%;
  /* outline: 3px solid #ffab00; */
}
.contact-form{
  opacity: 0;
}
.input-div:not(:last-child){
  margin-bottom: 40px;
}
.all-projects-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px 20px;
  opacity: 0;
}
.my_story:hover{
  color: #ffab00;
}
.my_story:hover svg{
  animation: arrow_animation .7s;
  animation-iteration-count: infinite;
}
@keyframes arrow_animation {
  0%{
    transform: translateX(0px);
  }
  50%{
    transform: translateX(5px);
  }
  75%{
    transform: translateX(10px);
  }
  100%{
    transform: translateX(14px);
  }
}

/* timeline */
.timelines{
  /* position: absolute;
  left: 50%;
  transform: translateX(-50%); */
  max-width: 34.15em;
  margin: 5em auto;
}
.timelines .checkpoint{
  padding-bottom: 2em;
  padding-top: 2em;
  max-width: 34em;
  position: relative;
}
.timelines .checkpoint div{
  border: 1px solid white;
  padding: 10px;
  border-radius: 5px;
}
.timelines .checkpoint:nth-child(even){
  border-right: 3px solid #888;
  padding-right: 3em;
  transform: translateX(-17em);
}
.timelines .checkpoint:nth-child(odd){
  border-left: 3px solid #888;
  padding-left: 3em;
  transform: translateX(16.8em);
}
.timelines .checkpoint div:before{
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  background-color: white;
  display: block;
  top: 50%;
  transform: translateY(-50%);
}
.timelines .checkpoint:nth-child(even) div:before{
  right: -0.5em;
}
.timelines .checkpoint:nth-child(odd) div:before{
  left: -0.5em;
}
.checkpoint:nth-child(odd):before,
.checkpoint:nth-child(even)::before{
  content: '';
  background: #888;
  width: 3em;
  height: 3px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.checkpoint:nth-child(odd):before{
  left: 0px;
}
.checkpoint:nth-child(even):before{
  right: 0px;
}


@media screen and (max-width:1150px) {
  .timelines{
    width: 80vw;
  }
  .timelines .checkpoint:nth-child(even),
  .timelines .checkpoint:nth-child(odd){
    transform: translateX(0px);
    border: none;
  }

}

@media screen and (max-width:1500px) and (min-width:1000px) {
  .intro-section{
    max-width: 600px;
  }
}
@media screen and (max-width:1150px) {
  .all-projects-container{
    grid-template-columns: 1fr 1fr;
  }
  .intro span{
    font-size: 2rem;
  }
  .intro::before{
    top: -8px;
    width: 16px;
    height: 3px;
  }
  .image-wrapper{
    min-width: 200px;
    top: -70px;
  }
}
@media screen and (max-width:820px) {
  .main-div{
    grid-template-columns: auto;
    margin-bottom: 20px;
  }
  .intro-section{
    margin-top: 50px;
  }
}
@media screen and (max-width:760px) {
  .all-projects-container{
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

@media screen and (max-width:300px) {
  .layout-wrapper{
    padding: 10px 20px;
  }
}