@tailwind base;
@tailwind components;
@tailwind utilities;

.layout-wrapper{
  width: 90vw;
  min-width: 300px;
}
.icons{
  display: flex;
  padding-top: 70px;
}
.icons a{
  margin-right: 20px;
  display: inline;
}
.icons a svg:hover{
  color: #ffab00;
}
.name{
  font-size: 3em;
}
.main-div{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  z-index: 10;
  position: relative;
  text-shadow: 0 0 6px black;
}
.designed-line{
  background-color: #ffab00;
  width: 60px;
  height: 6px;
  display: block;
  /* margin: 20px 0px; */
  margin-top: 30px;
}
.intro span{
  padding-left: 10px;
}
.intro::before{
  content: '';
  display: inline-block;
  position: relative;
  height: 2px;
  width: 14px;
  background-color: #ffab00;
  top: -4px;
}
.image-wrapper{
  z-index: 1;
  filter: blur(2px);
  -webkit-filter: blur(2px);
}
.contact-form,
.contact-image{
  flex: 1;
}
.input-field{
  padding: 15px;
  width: 100%;
  /* outline: 3px solid #ffab00; */
}
.input-div:not(:last-child){
  margin-bottom: 40px;
}
.all-projects-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px 20px;
}
.my_story:hover{
  color: #ffab00;
}
.my_story:hover svg{
  animation: arrow_animation .7s;
  animation-iteration-count: infinite;
}
@keyframes arrow_animation {
  0%{
    transform: translateX(0px);
  }
  50%{
    transform: translateX(5px);
  }
  75%{
    transform: translateX(10px);
  }
  100%{
    transform: translateX(14px);
  }
}
@media screen and (max-width:1500px) and (min-width:1000px) {
  .intro-section{
    max-width: 400px;
  }
}
@media screen and (max-width:1150px) {
  .all-projects-container{
    grid-template-columns: 1fr 1fr;
  }
  .intro span{
    font-size: 2rem;
  }
  .intro::before{
    top: -8px;
    width: 16px;
    height: 3px;
  }
  .image-wrapper{
    min-width: 200px;
    top: -70px;
  }
}
@media screen and (max-width:820px) {
  .main-div{
    grid-template-columns: auto;
    margin-bottom: 20px;
  }
  .intro-section{
    margin-top: 50px;
  }
}
@media screen and (max-width:760px) {
  .all-projects-container{
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

@media screen and (max-width:300px) {
  .layout-wrapper{
    padding: 10px 20px;
  }
}